# From Exercism's x86_64 track
build/
day01v?/**/tests
**/*.o
*.pyc

# From Exercism's WASM track
*.swp
.DS_Store
node_modules
yarn.lock
**/package-lock.json
!package-lock.json
*pnpm-lock.yaml
*pnpm-debug.log

# Dart
.dart_tool

# Elm
elm-stuff

# Day 6 executables
day06/**/day06

# Day 10 ada
/day10/obj/
/day10/bin/
/day10/alire/
/day10/config/

# Elixir in day 13. Suggestions from mix
# The directory Mix will write compiled artifacts to.
day13/_build/

# If you run "mix test --cover", coverage assets end up here.
day13/cover/

# The directory Mix downloads your dependencies sources to.
day13/deps/

# Where third-party dependencies like ExDoc output generated docs.
day13/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
day13/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
day13/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
day13/*.ez

# Ignore package tarball (built via "mix hex.build").
day13/solve-*.tar

# Temporary files, for example, from tests.
day13/tmp/
