# From Exercism's x86_64 track
build/
day01*/**/tests
**/*.o
*.pyc

# From Exercism's WASM track
*.swp
.DS_Store
node_modules
yarn.lock
**/package-lock.json
!package-lock.json
*pnpm-lock.yaml
*pnpm-debug.log

# Elm
elm-stuff

# Day 6 executables
day06/**/day06
